.flex {
  display: flex;
}

.row {
  width: 1600px;
  max-width: 90%;
  margin: 0 auto;
}

.col-primary {
  color: var(--color-primary)
}

.error-text {
  text-align: center;
  margin-bottom: 1rem;
  color: red;
  font-size: 0.8rem;
  font-style: italic;
}